{% extends "base/base.html" %}
{% load static %}

{% block extra_style %}
    /*Format for the character bar*/
    * {box-sizing: border-box}
    body {font-family: "Lato", sans-serif;}

    /* Style the tab */
    .tab {
      float: left;
      border: 1px solid #ccc;
      background-color: #f1f1f1;
      width: 30%;
      height: 300px;
    }

    /* Style the buttons inside the tab */
    .tab button {
      display: block;
      background-color: inherit;
      color: black;
      padding: 22px 16px;
      width: 100%;
      border: none;
      outline: none;
      text-align: left;
      cursor: pointer;
      transition: 0.3s;
      font-size: 17px;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
      background-color: #ddd;
    }

    /* Create an active/current "tab button" class */
    .tab button.active {
      background-color: #ccc;
    }
{% endblock %}

{% block body_header %}
<body style="height:1500px" onload="opentab(event, 'The Chosen')">
{% endblock %}

{% block content %}
<!-- Character Bar-->
<div>
<div class="tab">
  <button class="tablinks" onclick="opentab(event, 'The Chosen')">The Chosen</button>
  <button class="tablinks" onclick="opentab(event, 'The Crooked')">The Crooked</button>
  <button class="tablinks" onclick="opentab(event, 'The Divine')">The Divine</button>
  <button class="tablinks" onclick="opentab(event, 'The Expert')">The Expert</button>
  <button class="tablinks" onclick="opentab(event, 'The Flake')">The Flake</button>
  <button class="tablinks" onclick="opentab(event, 'The Initiate')">The Initiate</button>
  <button class="tablinks" onclick="opentab(event, 'The Monstrous')">The Monstrous</button>
  <button class="tablinks" onclick="opentab(event, 'The Mundane')">The Mundane</button>
  <button class="tablinks" onclick="opentab(event, 'The Professional')">The Professional</button>
  <button class="tablinks" onclick="opentab(event, 'The Spell-Slinger')">The Spell-Slinger</button>
  <button class="tablinks" onclick="opentab(event, 'The Spooky')">The Spooky</button>
  <button class="tablinks" onclick="opentab(event, 'The Wronged')">The Wronged</button>
</div>



<div id="The Chosen" class="tabcontent" >
    <img src="{% static "the_chosen.jpg" %}" style="width:100%;">
</div>

<div id="The Crooked" class="tabcontent">
    <img src="{% static "the_crooked.jpg" %}" style="width:100%;">
</div>

<div id="The Divine" class="tabcontent">
    <img src="{% static "the_divine.jpg" %}" style="width:100%;">
</div>

<div id="The Expert" class="tabcontent">
    <img src="{% static "the_expert.jpg" %}" style="width:100%;">
</div>

<div id="The Flake" class="tabcontent">
    <img src="{% static "the_flake.jpg" %}" style="width:100%;">
</div>

<div id="The Initiate" class="tabcontent">
    <img src="{% static "the_initiate.jpg" %}" style="width:100%;">
</div>

<div id="The Monstrous" class="tabcontent">
    <img src="{% static "the_monstrous.jpg" %}" style="width:100%;">
</div>

<div id="The Mundane" class="tabcontent">
    <img src="{% static "the_mundane.jpg" %}" style="width:100%;">
</div>

<div id="The Professional" class="tabcontent">
    <img src="{% static "the_professional.jpg" %}" style="width:100%;">
</div>

<div id="The Spell-Slinger" class="tabcontent">
    <img src="{% static "the_spell_slinger.jpg" %}" style="width:100%;">
</div>

<div id="The Spooky" class="tabcontent">
    <img src="{% static "the_spooky.jpg" %}" style="width:100%;">
</div>

<div id="The Wronged" class="tabcontent">
    <img src="{% static "the_wronged.jpg" %}" style="width:100%;">
</div>

</div>
{% endblock %}

{% block script %}
/*Character Bar*/
function opentab(evt, tabName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
}
{% endblock %}


