{% extends 'base/base.html' %}

{% block extra_style %}

    .myBtn {
      width: auto;
      min-width: 75px;
      float: center;
      font-size: 15px;
      text-align: center;
      border: none;
      outline: none;
      background-color: green;
      color: white;
      cursor: pointer;
      padding: 10px;
      border-radius: 2px;
      box-shadow: 2px 2px 3px #999;
      position: relative;

    }
    .myBtn:hover {
      background-color: black;
    }

{% endblock %}

{% block content %}
{% if not gameID %}
    <div align="center" style="padding:10px">
    <form method="post">
        {% csrf_token %}
        Please enter the name of your game: <br> <br>
        <div class="form-group">
            <label for="id">Game Name:</label>
            <input name="gamename" maxlength="20" type="text">
        </div>
        <div class="form-group">
            <button class="myBtn" type="submit" > Submit </button>
        </div>
    </form>
    {% endif %}
    
    {% if gameID %}
        <img src="https://api.qrserver.com/v1/create-qr-code/?size=200x200&data=http://{{ request.get_host }}/game/{{ gameID }}/choosecharacter/">

        <div align="center">
        <h1>Use this code to join the game</h1>
        <h3> Game code: {{ gameID }} </h3>
            <a href="/game/{{ gameID }}/keeper">
                <button class="myBtn">Enter Your Keeper Panel</button>
            </a>
        </div>
    </div>
{% endif %}
{% endblock %}