{% extends "base/base.html" %}


{% block extra_style %}

{% endblock %}


{% block content %}

<div align="left" style="padding-left:10px">
    <h1 style="text-transform:capitalize">{{ type }}</h1>
  
    {% for move in move_list %}
    <div>
        <p style="font:14px">
            <input type="checkbox" class="form-check-input" id="{{move.move_name}}">
            <label class="form-check-label" for="exampleCheck1">{{move.move_name}} : {{move.description}}</label><br>
        </p>
    </div>
    {% endfor %}
</div>

{% endblock %}
