{% extends "base/base.html" %}

{% block content %}

 <style>
 .flex-container{
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     justify-content: space-around;
 }
 .flex-box{
     width: auto;
     padding: 10px;
 }
 </style>

<div style="text-align: center">
    <div>
        <h1>Main Dashboard</h1>
        <p>
           Welcome to the Roll6 dashboard!
        </p>
        <div class="flex-container">
        <div class="flex-box">
        <h3>Your Keeper Games:</h3>
        {% for game in keeper_games %}
            <a href="http://{{ request.get_host }}/game/{{ game.game_ID }}/game/">{{game.game_name}} (Started: {{game.pub_date}})</a><br />
        {% endfor %}
        {% if not keeper_games %}
            You are not a Keeper in any games!<br />
        {% endif %}
        </div>
        <div class="flex-box">
        <h3>Your Hunter Games:</h3>
        {% for game in hunter_games %}
            <a href="http://{{ request.get_host }}/game/{{ game.game_ID.game_ID }}/game/">{{game.game_ID.game_name}} (Started: {{game.game_ID.pub_date}})</a><br />
        {% endfor %}
        {% if not hunter_games %}
            You are not a Hunter in any games!<br />
        {% endif %}
        </div>
        </div>
    </div>
</div>

{% endblock %}