{% extends "base/base.html" %}

{% block content %}

<div align="center">
    <div>
        <h1>Main Dashboard</h1>
        <p>
           Welcome to the Roll6 dashboard!
        </p>

        <h3>Your Keeper Games:</h3>
        {% for game in keeper_games %}
            <a href="#">{{game.game_name}} (Started: {{game.pub_date}})</a><br>
        {% endfor %}
        {% if not keeper_games %}
            You are not a Keeper in any games!<br />
        {% endif %}

        <h3>Your Hunter Games:</h3>
        {% for game in hunter_games %}
            <a href="#">{{game.game_name}} (Started: {{game.pub_date}})</a><br>
        {% endfor %}
        {% if not hunter_games %}
            You are not a Hunter in any games!<br />
        {% endif %}
    </div>
</div>

{% endblock %}