{% extends "base/base.html" %}
{% load static %}



{% block content %}

<div style="text-align: center;padding-top:10px">
    <a href="https://www.evilhat.com/home/monster-of-the-week/"><img src="{% static "MOTW_Cover.jpg" %}" class="center" alt="Monster of the Week cover photo" style="width:40%;"></a>
</div>

<div style="text-align: center">
    <div>
        <h1>About Monster of the Week</h1>
        <p>
           THIS IS WHERE WE WILL BE TALKING ABOUT THE GAME
        </p>
    </div>
</div>

<div style="padding:10px;alignment: center">
    <h3>Frequently Asked Questions</h3>
    <b>Q: What is Monster of the Week?</b><br />
    A: A tabletop role playing game similar to the more popular Dungeons and Dragons, but with less rules. For more details, check out their official website at <a href="https://www.evilhat.com/home/monster-of-the-week/">this link</a>.<br />
    <b>Q: ???</b><br />
    A: ???
</div>

{% endblock %}