{% extends "base/base.html" %}
{% load static %}



{% block content %}

<div style="text-align: center">
    <a href="https://www.evilhat.com/home/monster-of-the-week/"><img src="{% static "MOTW_Cover.jpg" %}" class="center" alt="Monster of the Week cover photo" style="width:50%;"></a>
</div>

<div style="text-align: center">
    <div>
        <h1>About Monster of the Week</h1>
        <p>
           THIS IS WHERE WE WILL BE TALKING ABOUT SOME DOPE ASS SHIT
        </p>
    </div>
</div>

{% endblock %}