{% extends "base/base.html" %}


{% block content %}

<div style="padding-top:15px;alignment: center">
    <div style="text-align: center; font-size: 15px">About us</div>
    <div style="text-align: center;">TODO about us text here</div><br />
    <h3>Frequently Asked Questions</h3>
    <b>Q: What is Monster of the Week?</b>
    A: A tabletop role playing game similar to the more popular Dungeons and Dragons, but with less rules. For more details, check out their official website at <a href="#">this link</a>.
    <b>Q: ???</b>
    A: ???
</div>

{% endblock %}